*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #31511E;
}
body {
    background-image:url("../Imagens/Campo-BG.jpg");
}

.informativo{
    background-color: #E8ECD7;
    text-align:justify;
    word-spacing: 5px;
    padding: 25px;   
    font-size: 20px;
}
.informativo p {
    margin-left: 100px;
    margin-right: 100px;
}
.informativo h1, h2, h3 {
    text-align:center;
}
.informativo h1 {
    padding-bottom:10px;
}
.informativo img {
    width: 500px;
    height: auto;
    margin-left: 36%
}
.card-container {
    max-width:80%;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
}
.card :hover {
    background-color: #b6b9a7;
}
.card {
    flex: 1;
    background-color: #E8ECD7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card p, h3{
    padding: 8px;
    padding-bottom:2px;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card-contudo {
    padding: 20px;

}
@media screen and (max-width: 768px) {
    .card {
        flex:100%;
    }
}
header{
    text-align: center;
    margin: 10px;
    background-color: #F6FCDF;
    font-size:24px;
}
footer {
    text-align: center;
    margin: 10px;
    background-color: #F6FCDF;
    font-size:24px;
}
